/*自販機用*/
h1 a, h2 a {
    color: #C25100;
    font-family: monospace;
    /* font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体"; */
}
body {
    padding-left: 0px;
}
.page-header {
    background-color: #B3424A;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}


table {
    margin-left: auto;
    margin-right: auto;
}

.under {
  background: linear-gradient(transparent 70%, #73bfe6 70%);
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26px;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.image {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  position: absolute;
}


/* 画面の大きさに合わせて画像を表示する */
img{
  /*画像の幅を100%に設定*/
  width:90%;
}
/* ここまで */

/*画像を重ねる*/
.relative {
  position: relative; /*相対的に動く*/
  width:100%;
}


.page-footer{
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  background-color: #B3424A;
  padding: 30px 0;
}

.btn-gradient-radius a {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color:#000000;
  background:#ffe4e1;
  transition: .4s;
}

.btn-gradient-radius a:hover {
  background:#d3d3d3;
}

.margin {
  padding: 0px 10px;
}


/*スマホ用*/
@media screen and (max-width:480px) {
  h1 a, h2 a {
      color: #C25100;
      font-family: monospace;
      /* font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体"; */
  }
  body {
      padding-left: 0px;
  }
  .page-header {
      background-color: #B3424A;
      margin-top: 0;
      padding: 20px 20px 20px 20px;
  }

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      color: #ffffff;
      font-size: 28px;
      text-decoration: none;
  }

  .content {
      margin-left: 40px;
  }

  h1, h2, h3, h4 {
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 24px;
  }

  table {
      margin-left: auto;
      margin-right: auto;
  }

  .under {
    background: linear-gradient(transparent 70%, #73bfe6 70%);
  }

  .date {
      color: #828282;
  }

  .save {
      float: right;
  }

  .post-form textarea, .post-form input {
      width: 100%;
  }

  .top-menu, .top-menu:hover, .top-menu:visited {
      color: #ffffff;
      float: right;
      font-size: 26px;
      margin-right: 20px;
  }

  .post {
      margin-bottom: 70px;
  }

  .post h2 a, .post h2 a:visited {
      color: #000000;
  }

  .image {
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    position: absolute;
  }


  /* 画面の大きさに合わせて画像を表示する */
  img{
    /*画像の幅を100%に設定*/
    width:90%;
  }
  /* ここまで */

  /*画像を重ねる*/
  .relative {
    position: relative; /*相対的に動く*/
    width:100%;
  }


  .page-footer{
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 20%; /*フッター枠の長さ*/
    background-color: #B3424A;
    padding: 30px 0;
  }

  .btn-gradient-radius a {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color:#000000;
    background:#ffe4e1;
    transition: .4s;
  }

  .btn-gradient-radius a:hover {
    background:#d3d3d3;
  }
}
