/*時間割ページ用*/
h1 a, h2 a {
    color: #C25100;
    font-family: monospace;
    /* font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体"; */
}
body {
    padding-left: 0px;
}
.page-header {
    background-color: #B3424A;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

table {
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 5px;
  border: 1px solid #333;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    /* float: right; */
    font-size: 13pt;
    margin-left: 200px;

}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.image {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  position: absolute;
}

.page-footer{
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  background-color: #B3424A;
  padding: 30px 0;
}

/* 2カラムサイトにする */
.wrapper {
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.main, .side {
    padding: 20px;
}

.main {
    background: #ffffcc;
    width: 60%;
    margin-right: 20px;
}

.side {
    background: #e8d3c7;
    width: 20%;
}
