/*マップページ用*/
h1 a, h2 a {
    color: #C25100;
    font-family: monospace;
    /* font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体"; */
}
body {
    padding-left: 0px;
}
.page-header {
    background-color: #B3424A;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26px;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.image {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  position: absolute;
}


/* 画面の大きさに合わせて画像を表示する */
img{
  /*画像の幅を100%に設定*/
  width:100%;
}
/* ここまで */
.hukidashi {
  position: relative; /*相対的に動く*/
  width:3%;
}

/* .image_mouseover_1 {
  overflow: visible;
  width: 100%;
  height: 100%;
}
.image_mouseover_1 img {
  display: block;
  transition-duration: 0.5s;
}

.image_mouseover_1 img:hover {
  transform: scale(1.2,1.2);
  transition-duration: 0.5s;
} */

/*画像を重ねる*/
.relative {
  position: relative; /*相対的に動く*/
  width:100%;
}
.absolute1 {
  position: absolute; /*7号館*/
  width: 3.5%;
  top: 20%;
  left: 53.5%;
  bottom:55%;
}
.absolute2 {/*食堂裏*/
  position: absolute; /*絶対的に動く*/
  width: 3.5%;
  top: 40%;
  left: 42.5%;
  bottom:25%;
}
.absolute3 { /*食堂とカフェルポの間*/
  position: absolute; /*絶対的に動く*/
  width: 3.5%;
  top: 38%;
  left: 50%;
  bottom:25%;
}
.absolute4 {/*食堂の中*/
  position: absolute; /*絶対的に動く*/
  width: 3.5%;
  top: 42%;
  left: 52.5%;
  bottom:25%;
}
.absolute5 {/*食堂の裏の公衆電話*/
  position: absolute; /*絶対的に動く*/
  width: 3.5%;
  top: 52%;
  left: 42%;
  bottom:25%;
}
.absolute6 {/*5号館前の自販機*/
  position: absolute; /*絶対的に動く*/
  width: 3.5%;
  top: 26%;
  left: 76.5%;
  bottom:25%;
}
.absolute7 {/*1号館前の自販機*/
  position: absolute; /*絶対的に動く*/
  width: 3.5%;
  top: 65%;
  left: 82.5%;
  bottom:25%;
}
.page-footer{
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  background-color: #B3424A;
  padding: 30px 0;
}


/*ボタンのデザイン*/
/* a{
  width: 30%;
} */
.button03 a{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 170px;
  color: #333333; /* 文字の色 */
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #e08899; /* ボタンと枠の色 */
  border-radius: 100px;
}

.button03 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #e08899; /* ボタンの矢印の上部 */
  border-right: 3px solid #e08899; /* ボタンの矢印の下部 */
  transform: rotate(45deg);
}

.button03 a:hover {
  color: #333333; /* ボタン選択後の文字の色 */
  text-decoration: none;
  background-color: #f2a0a1; /* ボタン選択後のボタンの中身の色 */
}

.button03 a:hover::after { /* 矢印 */
  border-top: 3px solid #333333; /* ボタン選択後の矢印の上部 */
  border-right: 3px solid #333333; /* ボタン選択後の矢印の下部 */
}

.button04 a{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 250px;
  color: #333333; /* 文字の色 */
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #333333; /* ボタンと枠の色 */
  border-radius: 100px;
}

.button04 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333; /* ボタンの矢印の上部 */
  border-right: 3px solid #333333; /* ボタンの矢印の下部 */
  transform: rotate(45deg);
}

.button04 a:hover {
  color: #333333; /* ボタン選択後の文字の色 */
  text-decoration: none;
  background-color: #CCCCCC; /* ボタン選択後のボタンの中身の色 */
}

.button04 a:hover::after { /* 矢印 */
  border-top: 3px solid #333333; /* ボタン選択後の矢印の上部 */
  border-right: 3px solid #333333; /* ボタン選択後の矢印の下部 */
}

.button05 a{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 250px;
  color: #333333; /* 文字の色 */
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #165e83; /* ボタンと枠の色 */
  border-radius: 100px;
}

.button05 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #165e83; /* ボタンの矢印の上部 */
  border-right: 3px solid #165e83; /* ボタンの矢印の下部 */
  transform: rotate(45deg);
}

.button05 a:hover {
  color: #333333; /* ボタン選択後の文字の色 */
  text-decoration: none;
  background-color: #ebf6f7; /* ボタン選択後のボタンの中身の色 */
}

.button05 a:hover::after { /* 矢印 */
  border-top: 3px solid #333333; /* ボタン選択後の矢印の上部 */
  border-right: 3px solid #333333; /* ボタン選択後の矢印の下部 */
}

.button_line{
  display: flex;
  justify-content: space-evenly;
}
.btn-gradient-radius a {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color:#000000;
  background:#ffe4e1;
  transition: .4s;
}

.btn-gradient-radius a:hover {
  background:#d3d3d3;
}


/*スマホ用*/
@media screen and (max-width:480px) {
  h1 a, h2 a {
      color: #C25100;
      font-family: monospace;
      /* font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体"; */
  }
  body {
      padding-left: 0px;
  }
  .page-header {
      background-color: #B3424A;
      margin-top: 0;
      padding: 20px 20px 20px 20px;
  }

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      color: #ffffff;
      font-size: 28px;
      text-decoration: none;
  }

  .content {
      margin-left: 40px;
  }

  h1, h2, h3 {
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 24px;
  }

  h4 {
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 20px;
  }

  .date {
      color: #828282;
  }

  .save {
      float: right;
  }

  .post-form textarea, .post-form input {
      width: 100%;
  }

  .top-menu, .top-menu:hover, .top-menu:visited {
      color: #ffffff;
      float: right;
      font-size: 26px;
      margin-right: 20px;
  }

  .post {
      margin-bottom: 70px;
  }

  .post h2 a, .post h2 a:visited {
      color: #000000;
  }

  .image {
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    position: absolute;
  }


  /* 画面の大きさに合わせて画像を表示する */
  img{
    /*画像の幅を100%に設定*/
    width:100%;
  }
  /* ここまで */
  .hukidashi {
    position: relative; /*相対的に動く*/
    width:3%;
  }

  /* .image_mouseover_1 {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
  .image_mouseover_1 img {
    display: block;
    transition-duration: 0.5s;
  }

  .image_mouseover_1 img:hover {
    transform: scale(1.2,1.2);
    transition-duration: 0.5s;
  } */

  /*画像を重ねる*/
  .relative {
    position: relative; /*相対的に動く*/
    width:100%;
  }
  .absolute1 {
    position: absolute; /*7号館*/
    width: 3.5%;
    top: 20%;
    left: 53.5%;
    bottom:55%;
  }
  .absolute2 {/*食堂裏*/
    position: absolute; /*絶対的に動く*/
    width: 3.5%;
    top: 40%;
    left: 42.5%;
    bottom:25%;
  }
  .absolute3 { /*食堂とカフェルポの間*/
    position: absolute; /*絶対的に動く*/
    width: 3.5%;
    top: 38%;
    left: 50%;
    bottom:25%;
  }
  .absolute4 {/*食堂の中*/
    position: absolute; /*絶対的に動く*/
    width: 3.5%;
    top: 42%;
    left: 52.5%;
    bottom:25%;
  }
  .absolute5 {/*食堂の裏の公衆電話*/
    position: absolute; /*絶対的に動く*/
    width: 3.5%;
    top: 52%;
    left: 42%;
    bottom:25%;
  }
  .absolute6 {/*5号館前の自販機*/
    position: absolute; /*絶対的に動く*/
    width: 3.5%;
    top: 26%;
    left: 76.5%;
    bottom:25%;
  }
  .absolute7 {/*1号館前の自販機*/
    position: absolute; /*絶対的に動く*/
    width: 3.5%;
    top: 65%;
    left: 82.5%;
    bottom:25%;
  }
  .page-footer{
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 20%; /*フッター枠の長さ*/
    background-color: #B3424A;
    padding: 30px 0;
  }


  /*ボタンのデザイン*/
  /* a{
    width: 30%;
  } */
  .button03 a{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #333333; /* 文字の色 */
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #e08899; /* ボタンと枠の色 */
    border-radius: 100px;
  }

  .button03 a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #e08899; /* ボタンの矢印の上部 */
    border-right: 3px solid #e08899; /* ボタンの矢印の下部 */
    transform: rotate(45deg);
  }

  .button03 a:hover {
    color: #333333; /* ボタン選択後の文字の色 */
    text-decoration: none;
    background-color: #f2a0a1; /* ボタン選択後のボタンの中身の色 */
  }

  .button03 a:hover::after { /* 矢印 */
    border-top: 3px solid #333333; /* ボタン選択後の矢印の上部 */
    border-right: 3px solid #333333; /* ボタン選択後の矢印の下部 */
  }

  .button04 a{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #333333; /* 文字の色 */
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #333333; /* ボタンと枠の色 */
    border-radius: 100px;
  }

  .button04 a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333; /* ボタンの矢印の上部 */
    border-right: 3px solid #333333; /* ボタンの矢印の下部 */
    transform: rotate(45deg);
  }

  .button04 a:hover {
    color: #333333; /* ボタン選択後の文字の色 */
    text-decoration: none;
    background-color: #CCCCCC; /* ボタン選択後のボタンの中身の色 */
  }

  .button04 a:hover::after { /* 矢印 */
    border-top: 3px solid #333333; /* ボタン選択後の矢印の上部 */
    border-right: 3px solid #333333; /* ボタン選択後の矢印の下部 */
  }

  .button05 a{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #333333; /* 文字の色 */
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #165e83; /* ボタンと枠の色 */
    border-radius: 100px;
  }

  .button05 a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #165e83; /* ボタンの矢印の上部 */
    border-right: 3px solid #165e83; /* ボタンの矢印の下部 */
    transform: rotate(45deg);
  }

  .button05 a:hover {
    color: #333333; /* ボタン選択後の文字の色 */
    text-decoration: none;
    background-color: #ebf6f7; /* ボタン選択後のボタンの中身の色 */
  }

  .button05 a:hover::after { /* 矢印 */
    border-top: 3px solid #333333; /* ボタン選択後の矢印の上部 */
    border-right: 3px solid #333333; /* ボタン選択後の矢印の下部 */
  }

  .button_line{
    display: flex;
    justify-content: space-evenly;
  }
  .btn-gradient-radius a {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color:#000000;
    background:#ffe4e1;
    transition: .4s;
  }

  .btn-gradient-radius a:hover {
    background:#d3d3d3;
  }
}
