/*新規登録用*/
h1 a, h2 a {
    color: #C25100;
    font-family: monospace;
}
body {
    padding-left: 0px;
}
.page-header {
    background-color: #956daf;
    border-bottom: solid 3px #6d4f97;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

h1{
  text-align: center;
}

div.reg{
  background-color: #EEEEEE;
  margin-left: 15%;
  margin-right: 15%;
}

table.reg_form{
  width: 100%;
  border-spacing: 10px 30px;
  padding-left:20px;
}


.btn-flat-simple{
  height: 50px; /*高さ*/
  width: 120px; /*幅*/

  /*ボタン上下左右中央寄せ*/
  display: flex;
  justify-content: center; /*ボタンの中の文字の位置*/
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em; /*内側の余白を調整*/

  text-decoration: none; /*下線*/
  color: #000000;
  border: 1px solid #000000;
  background: #fdfeff;
  font-weight: bold;
  transition: .4s; /*状態変化にかかる時間*/
}

.btn-flat-simple:hover {
  background: #c9c9c4;
  color: #000000;
}

.login {
  border: 2px solid #B3424A;
  width: 550px;
  height: 400px;
  background-color: #f4dedc;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.page-footer{
  position: absolute;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  background-color: #956daf;
  padding: 30px 0;
}


.btn-gradient-radius a {
  font-size: 20px;
  /* width: 10em;
  height: 3em; */
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color:#000000;
  background:#ffe4e1;
  transition: .4s;
}

.btn-gradient-radius a:hover {
  background:#d3d3d3;
}


/*スマホ用*/
@media screen and (max-width:480px) {
  h1 a, h2 a {
      color: #C25100;
      font-family: monospace;
  }
  body {
      padding-left: 0px;
  }
  .page-header {
      background-color: #956daf;
      border-bottom: solid 3px #6d4f97;
      margin-top: 0;
      padding: 20px 20px 20px 20px;
  }

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      color: #ffffff;
      font-size: 28px;
      text-decoration: none;
  }

  .content {
      margin-left: 40px;
  }

  h1, h2, h3, h4 {
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 24px;
  }

  h1{
    text-align: center;
  }

  div.reg{
    background-color: #EEEEEE;
    margin-left: 15%;
    margin-right: 15%;
  }

  table.reg_form{
    width: 100%;
    border-spacing: 10px 30px;
    padding-left:20px;
  }


  .btn-flat-simple{
    height: 50px; /*高さ*/
    width: 120px; /*幅*/

    /*ボタン上下左右中央寄せ*/
    display: flex;
    justify-content: center; /*ボタンの中の文字の位置*/
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em; /*内側の余白を調整*/

    text-decoration: none; /*下線*/
    color: #000000;
    border: 1px solid #000000;
    background: #fdfeff;
    font-weight: bold;
    transition: .4s; /*状態変化にかかる時間*/
  }

  .btn-flat-simple:hover {
    background: #c9c9c4;
    color: #000000;
  }

  .login {
    border: 2px solid #B3424A;
    width: 350px;
    height: 385px;
    background-color: #f4dedc;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .page-footer{
    position: absolute;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 20%; /*フッター枠の長さ*/
    background-color: #956daf;
    padding: 30px 0;
  }


  .btn-gradient-radius a {
    font-size: 20px;
    /* width: 10em;
    height: 3em; */
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color:#000000;
    background:#ffe4e1;
    transition: .4s;
  }

  .btn-gradient-radius a:hover {
    background:#d3d3d3;
  }
}
