/*新規登録用*/
h1 a, h2 a {
    color: #C25100;
    font-family: monospace;
}
body {
    padding-left: 0px;
}
.page-header {
    background-color: #956daf;
    border-bottom: solid 3px #6d4f97;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

h1{
  text-align: center;
}

div.reg{
  background-color: #EEEEEE;
  margin-left: 15%;
  margin-right: 15%;
}

table.reg_form{
  width: 100%;
  border-spacing: 10px 30px;
  padding-left:20px;
}


.btn-flat-simple{
  height: 50px; /*高さ*/
  width: 120px; /*幅*/

  /*ボタン上下左右中央寄せ*/
  display: flex;
  justify-content: center; /*ボタンの中の文字の位置*/
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em; /*内側の余白を調整*/

  text-decoration: none; /*下線*/
  color: #000000;
  border: 1px solid #000000;
  background: #fdfeff;
  font-weight: bold;
  transition: .4s; /*状態変化にかかる時間*/
}

.btn-flat-simple:hover {
  background: #c9c9c4;
  color: #000000;
}

.login {
  border: 2px solid #B3424A;
  width: 550px;
  height: 400px;
  background-color: #f4dedc;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.page-footer{
  position: absolute;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  background-color: #956daf;
  padding: 30px 0;
}


.btn-gradient-radius a {
  font-size: 20px;
  /* width: 10em;
  height: 3em; */
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color:#000000;
  background:#ffe4e1;
  transition: .4s;
}

.btn-gradient-radius a:hover {
  background:#d3d3d3;
}
/* // メニューボタン*/
#btn_menu6 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	background-color: #ffe4e1;
	transition: background-color 0.3s ease;
}
#btn_menu6::before {
	position: absolute;
	top: 22%;
	left: 30%;
	display: block;
	content: "";
	width: 40%;
	height: 2px;
	background: #222;
	transform: rotate(0deg);
	transition: transform 0.3s ease, top 0.1s ease;
}
#btn_menu6::after {
	position: absolute;
	top: 48%;
	left: 30%;
	display: block;
	content: "";
	width: 40%;
	height: 2px;
	background: #222;
	transform: rotate(0deg);
	transition: transform 0.3s ease, bottom 0.1s ease;
}
#btn_menu6 span:nth-child(1) {
	position: absolute;
	top: 35%;
	left: 30%;
	display: block;
	width: 40%;
	height: 2px;
	opacity: 1;
	background-color: #222;
	transition: opacity 0.1s ease;
}
#btn_menu6 span:nth-child(2) {
	position: absolute;
	bottom: 15%;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: #222;
	opacity: 1;
	transition: opacity 0.3s ease;
}
#btn_menu6 span:nth-child(3) {
	position: absolute;
	bottom: 15%;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: #222;
	opacity: 0;
	transition: opacity 0.3s ease;
}
#btn_menu6:hover {
	background-color: #f5b199;
}
#btn_menu6.active span:nth-child(1) {
	opacity: 0;
}
#btn_menu6.active span:nth-child(2) {
	opacity: 0;
}
#btn_menu6.active span:nth-child(3) {
	opacity: 1;
}
#btn_menu6.active::before {
	top: calc(35% - 1px);
	transform: rotate(315deg);
}
#btn_menu6.active::after {
	top: calc(35% - 1px);
	transform: rotate(-315deg);
}

/*スマホ用*/
@media screen and (max-width:480px) {
  h1 a, h2 a {
      color: #C25100;
      font-family: monospace;
  }
  body {
      padding-left: 0px;
  }
  .page-header {
      background-color: #956daf;
      border-bottom: solid 3px #6d4f97;
      margin-top: 0;
      padding: 20px 20px 20px 20px;
  }

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      color: #ffffff;
      font-size: 28px;
      text-decoration: none;
  }

  .content {
      margin-left: 40px;
  }

  h1, h2, h3, h4 {
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 24px;
  }

  h1{
    text-align: center;
  }

  div.reg{
    background-color: #EEEEEE;
    margin-left: 15%;
    margin-right: 15%;
  }

  table.reg_form{
    width: 100%;
    border-spacing: 10px 30px;
    padding-left:20px;
  }


  .btn-flat-simple{
    height: 50px; /*高さ*/
    width: 120px; /*幅*/

    /*ボタン上下左右中央寄せ*/
    display: flex;
    justify-content: center; /*ボタンの中の文字の位置*/
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em; /*内側の余白を調整*/

    text-decoration: none; /*下線*/
    color: #000000;
    border: 1px solid #000000;
    background: #fdfeff;
    font-weight: bold;
    transition: .4s; /*状態変化にかかる時間*/
  }

  .btn-flat-simple:hover {
    background: #c9c9c4;
    color: #000000;
  }

  .login {
    border: 2px solid #B3424A;
    width: 350px;
    height: 385px;
    background-color: #f4dedc;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .page-footer{
    position: absolute;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 20%; /*フッター枠の長さ*/
    background-color: #956daf;
    padding: 30px 0;
  }


  .btn-gradient-radius a {
    font-size: 20px;
    /* width: 10em;
    height: 3em; */
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color:#000000;
    background:#ffe4e1;
    transition: .4s;
  }

  .btn-gradient-radius a:hover {
    background:#d3d3d3;
  }
}
