/*シラバス検索用*/
h1 a, h2 a {
    color: #C25100;
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
body {
    padding-left: 0px;
}
.page-header {
    background-color: #B3424A;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.comment_marker a{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #222222;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    float: right;
    margin-right: 20px;

}

table {
  border-collapse: collapse;
  text-align: center;
  display: inline;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

th, td {
  padding: 5px;
  border: 1px solid #7a4171;
  text-align: center;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 15px;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.image {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  position: absolute;
}

.page-footer{
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  background-color: #B3424A;
  padding: 30px 0;
}

/* 2カラムサイトにする */
.wrapper {
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.main, .side {
    padding: 20px;
}

.main {
    background: #ffffcc;
    width: 60%;
    margin-right: 20px;
}

.side {
    background: #e8d3c7;
    width: 20%;
}

.btn-gradient-radius a {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color:#000000;
  background:#ffe4e1;
  transition: .4s;
}

.btn-gradient-radius a:hover {
  background:#d3d3d3;
}

mark {
  background-color: #ffdab9;
}


/*スマホ用*/
@media screen and (max-width:480px) {
  h1 a, h2 a {
      color: #C25100;
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  }
  body {
      padding-left: 0px;
  }
  .page-header {
      background-color: #B3424A;
      margin-top: 0;
      padding: 20px 20px 20px 20px;
  }

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      color: #ffffff;
      font-size: 28px;
      text-decoration: none;
  }

  .content {
      margin-left: 40px;
  }

  h1, h2, h3, h4 {
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 24px;
  }

  .comment_marker a{
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      color: #222222;/*文字色*/
      text-decoration: none;
      background: #FFF;
      border: solid 3px #6091d3;/*線*/
      border-radius: 10px;/*角の丸み*/
      float: right;
      margin-right: 20px;
  }

  table {
    border-collapse: collapse;
    text-align: center;
    display: inline;
    margin-right: 3px;
    width: 16px;
    height: 16px;
  }

  th, td {
    padding: 5px;
    border: 1px solid #7a4171;
    text-align: center;
  }

  .date {
      color: #828282;
  }

  .save {
      float: right;
  }

  .post-form textarea, .post-form input {
      width: 100%;
  }


  .post {
      margin-bottom: 70px;
  }

  .post h2 a, .post h2 a:visited {
      color: #000000;
  }

  .image {
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    position: absolute;
  }

  .page-footer{
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 20%; /*フッター枠の長さ*/
    background-color: #B3424A;
    padding: 30px 0;
  }

  /* 2カラムサイトにする */
  .wrapper {
      width: 80%;
      display: flex;
      margin: 20px auto;
      justify-content: center;
  }

  .main, .side {
      padding: 20px;
  }

  .main {
      background: #ffffcc;
      width: 60%;
      margin-right: 20px;
  }

  .side {
      background: #e8d3c7;
      width: 20%;
  }

  .btn-gradient-radius a {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color:#000000;
    background:#ffe4e1;
    transition: .4s;
  }

  .btn-gradient-radius a:hover {
    background:#d3d3d3;
  }

  mark {
    background-color: #ffdab9;
  }
}
