/*シラバスワードクラウド用*/
h1 a, h2 a {
    color: #C25100;
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
body {
    padding-left: 0px;
}
.page-header {
  background-color: #956daf;
  border-bottom: solid 3px #6d4f97;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

table {
  border-collapse: collapse;
  text-align: center;
  display: inline;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

th, td {
  padding: 5px;
  border: 1px solid #7a4171;
  text-align: center;
}

.under {
  background: linear-gradient(transparent 70%, #ffdab9 70%);
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 15px;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.image {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  position: absolute;
}

img {
  width: 100%;
}

.page-footer{
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  background-color: #956daf;
  padding: 30px 0;
}

/* 2カラムサイトにする */
.wrapper {
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.main, .side {
    padding: 20px;
}

.main {
    background: #ffffcc;
    width: 60%;
    margin-right: 20px;
}

.side {
    background: #e8d3c7;
    width: 20%;
}

.btn-gradient-radius a {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color:#000000;
  background:#ffe4e1;
  transition: .4s;
}

.btn-gradient-radius a:hover {
  background:#d3d3d3;
}

.margin {
  padding: 0px 30px;
}

/* // メニューボタン*/
#btn_menu6 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	background-color: #ffe4e1;
	transition: background-color 0.3s ease;
}
#btn_menu6::before {
	position: absolute;
	top: 22%;
	left: 30%;
	display: block;
	content: "";
	width: 40%;
	height: 2px;
	background: #222;
	transform: rotate(0deg);
	transition: transform 0.3s ease, top 0.1s ease;
}
#btn_menu6::after {
	position: absolute;
	top: 48%;
	left: 30%;
	display: block;
	content: "";
	width: 40%;
	height: 2px;
	background: #222;
	transform: rotate(0deg);
	transition: transform 0.3s ease, bottom 0.1s ease;
}
#btn_menu6 span:nth-child(1) {
	position: absolute;
	top: 35%;
	left: 30%;
	display: block;
	width: 40%;
	height: 2px;
	opacity: 1;
	background-color: #222;
	transition: opacity 0.1s ease;
}
#btn_menu6 span:nth-child(2) {
	position: absolute;
	bottom: 15%;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: #222;
	opacity: 1;
	transition: opacity 0.3s ease;
}
#btn_menu6 span:nth-child(3) {
	position: absolute;
	bottom: 15%;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: #222;
	opacity: 0;
	transition: opacity 0.3s ease;
}
#btn_menu6:hover {
	background-color: #f5b199;
}
#btn_menu6.active span:nth-child(1) {
	opacity: 0;
}
#btn_menu6.active span:nth-child(2) {
	opacity: 0;
}
#btn_menu6.active span:nth-child(3) {
	opacity: 1;
}
#btn_menu6.active::before {
	top: calc(35% - 1px);
	transform: rotate(315deg);
}
#btn_menu6.active::after {
	top: calc(35% - 1px);
	transform: rotate(-315deg);
}
/*スマホ用*/
@media screen and (max-width:480px) {
  h1 a, h2 a {
      color: #C25100;
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  }
  body {
      padding-left: 0px;
  }
  .page-header {
    background-color: #956daf;
    border-bottom: solid 3px #6d4f97;
      margin-top: 0;
      padding: 20px 20px 20px 20px;
  }

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      color: #ffffff;
      font-size: 28px;
      text-decoration: none;
  }

  .content {
      margin-left: 40px;
  }

  h1, h2, h3, h4 {
      font-family: "monospace","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 24px;
  }

  table {
    border-collapse: collapse;
    text-align: center;
    display: inline;
    margin-right: 3px;
    width: 16px;
    height: 16px;
  }

  th, td {
    padding: 5px;
    border: 1px solid #7a4171;
    text-align: center;
  }

  .under {
    background: linear-gradient(transparent 70%, #ffdab9 70%);
  }

  .date {
      color: #828282;
  }

  .save {
      float: right;
  }

  .post-form textarea, .post-form input {
      width: 100%;
  }

  .top-menu, .top-menu:hover, .top-menu:visited {
      color: #000000;
      float: right;
      font-size: 15px;
      margin-right: 20px;
  }

  .post {
      margin-bottom: 70px;
  }

  .post h2 a, .post h2 a:visited {
      color: #000000;
  }

  .image {
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    position: absolute;
  }

  .page-footer{
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 20%; /*フッター枠の長さ*/
    background-color: #956daf;
    padding: 30px 0;
  }

  /* 2カラムサイトにする */
  .wrapper {
      width: 80%;
      display: flex;
      margin: 20px auto;
      justify-content: center;
  }

  .main, .side {
      padding: 20px;
  }

  .main {
      background: #ffffcc;
      width: 60%;
      margin-right: 20px;
  }

  .side {
      background: #e8d3c7;
      width: 20%;
  }

  .btn-gradient-radius a {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color:#000000;
    background:#ffe4e1;
    transition: .4s;
  }

  .btn-gradient-radius a:hover {
    background:#d3d3d3;
  }
}
