/*トップページ用*/
h1 a, h2 a {
    color: #C25100;
    font-family: monospace;
}
body {
    padding-left: 0px;
}
.page-header {
    background-color: #B3424A;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.image {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  position: absolute;
}

.page-footer{
  position: absolute;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 20%; /*フッター枠の長さ*/
  /* background-color: #B3424A; */
  padding: 30px 0;
}


.btn-flat-simple a{
  height: 50px; /*高さ*/
  width: 120px; /*幅*/

  /*ボタン上下左右中央寄せ*/
  display: flex;
  justify-content: center; /*ボタンの中の文字の位置*/
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em; /*内側の余白を調整*/

  text-decoration: none; /*下線*/
  color: #000000;
  border: 1px solid #000000;
  background: #fdfeff;
  font-weight: bold;
  transition: .4s; /*状態変化にかかる時間*/
}

.btn-flat-simple a:hover {
  background: #c9c9c4;
  color: #000000;
}

.login {
  border: 2px solid #7a4171;
  width: 400px;
  height: 250px;
  background-color: #fdede4;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
