{% load static %}
<html>
<head>
    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/akikyoshitsu.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1><a href="/menupage">T S U D A　　　A P P</a></h1> <!--ページタイトル-->
    </div>
  </div>

<h2>遷移成功 空き教室ページ</h2>
<!--  試しに写真を入れてみた -->
<img src="../../static/img/campus_map_2.jpeg">



<!-- 試しに書いてみた -->
<div class="button_line">

<div class="button03">
  <a href="{% url 'move_to_honkan' %}">①本館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_shinkan' %}">②新館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_minami' %}">③南校舎</a>
</div>
</div>
<h1> </h1>

<div class="button_line">

<div class="button03">
  <a href="{% url 'move_to_tokkyo' %}">④特別教室</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_ichigokan' %}">⑤1号館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_gogokan' %}">⑧5号館</a>
</div>
</div>
<h1> </h1>


<div class="button_line">

<div class="button03">
  <a href="{% url 'move_to_nanagokan' %}">⑩7号館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_shokudo' %}">⑫食堂</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_library' %}">⑲図書館</a>
</div>
</div>
<h1> </h1>
<!-- 試しに書いてみた -->

<!-- 後でどうにかしよう -->
<!--
<p>
  <p align = "center"> ①本館 </p>
  <p align = "center"> ②新館 </p>
  <p align = "center"> ③南校舎 </p>
  <p align = "center"> ④特別教室 </p>
  <p align = "center"> ⑤1号館 </p>
  <p align = "center"> ⑧5号館 </p>
  <p align = "center"> ⑩7号館 </p>
  <p align = "center"> ⑲図書館 </p>
  <p align = "center"> ※食堂 </p>
</p>
-->
<!-- 後でどうにかしよう -->


  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
