{% load django_bootstrap5 %}
<!-- {% load static %} -->

<html>
<head>
  {% bootstrap_css %}
    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/akikyoshitsu.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>T S U D A　　　A P P</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius">
    <a href="/menupage">MENU PAGE</a>
  </div>
  </div>

<h2>空き教室検索</h2>
<h1></h1><br>
<!-- 検索機能 -->
<form method="post" action="{% url 'move_to_akikyoshitsukekka' %}"> {% csrf_token %}

  <p><strong><mark>ターム</mark></strong>
    <strong><span class ="moji">*必須</span></strong> <!-- ここ -->

    <h5>第1ターム→"1", 第2ターム→"2",
      <h4></h4>第3ターム→"3", 第4ターム→"4"　と<strong>半角英数字</strong>で入力してください。
    </h5>
  </p>
  <h4></h4>
  <!-- <input type="search" name="term" placeholder="タームを入力" required>--> <!-- ここ -->
  <input type="text" name="term" placeholder="タームを入力" pattern="^[0-9]+$" required> <!-- 半角数字のみ -->

  <h1></h1>
  <p><strong><mark>曜日</mark></strong>
    <strong><span class ="moji">*必須</span></strong> <!-- ここ -->

    <h5>月曜日→"月", 火曜日→"火",
      <h4></h4>水曜日→"水", 木曜日→"木",
      <h4></h4>金曜日→"金", 土曜日→"土"　と入力してください。
    </h5>
  </p>
  <h4></h4>
  <input type="search" name="yobi" placeholder="曜日を入力" maxlength="1" required> <!-- ここ -->

  <h1></h1>
  <p><strong><mark>時限</mark></strong>
    <strong><span class ="moji">*必須</span></strong> <!-- ここ -->

    <h5>1限→"1", 2限→"2",
      <h4></h4>3限→"3", 4限→"4",
      <h4></h4>5限→"5", 6限→"6"　と<strong>半角英数字</strong>で入力してください。
    </h5>
  </p>
  <h4></h4>
  <!-- <input type="search" name="jigen" placeholder="時限を入力" required>--> <!-- ここ -->
  <input type="text" name="jigen" placeholder="時限を入力" pattern="^[0-9]+$" required> <!-- 半角数字のみ -->

  <h1></h1>
  <p><strong><mark>号館</mark></strong>
    <h5>本館→"H", 新館→"新", 南校舎→"S",
      <h4></h4>特別教室→"特", 1号館→"1", 5号館→"5",
      <h4></h4>7号館→"7"　と入力してください。
    </h5>
  </p>
  <h4></h4>
  <input type="search" name="gokan" placeholder="号館を入力" maxlength="1" pattern="^[\u4E00-\u9FFFa-zA-Z0-9]+$">

  <!-- <select name="ターム" required>
    <option hidden>タームを選択</option>
    <option>第1ターム</option>
    <option>第2ターム</option>
    <option>第3ターム</option>
    <option>第4ターム</option>
  </select>

  <select name="曜日" required>
    <option hidden>曜日を選択</option>
    <option>月曜日</option>
    <option>火曜日</option>
    <option>水曜日</option>
    <option>木曜日</option>
    <option>金曜日</option>
  </select>

  <select name="時限" required>
    <option hidden>時限を選択</option>
    <option>1限</option>
    <option>2限</option>
    <option>3限</option>
    <option>4限</option>
    <option>5限</option>
  </select>

  <select name="号館">
    <option hidden>号館を選択</option>
    <option>本館</option>
    <option>新館</option>
    <option>南校舎</option>
    <option>特別教室</option>
    <option>1号館</option>
    <option>5号館</option>
    <option>7号館</option>
  </select> -->

  <h1></h1>
	<input type="submit" name="submit" value="検索する" >
</form>


<!--  試しに写真を入れてみた -->
<img src="../../static/img/campus_map.jpeg">



  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
