{% load static %}
<html>
<head>
    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/akikyoshitsu.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>T S U D A　　　A P P</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius">
    <a href="/menupage">MENU PAGE</a>
  </div>
  </div>

<h2>空き教室検索</h2>
<!--  試しに写真を入れてみた -->
<img src="../../static/img/campus_map.jpeg">



<!-- 検索機能 -->
<form method="post" action="{% url 'move_to_akikyoshitsukekka' %}" method="get"> {% csrf_token %}

  <select name="ターム" required>
    <option hidden>タームを選択</option>
    <option>第1ターム</option>
    <option>第2ターム</option>
    <option>第3ターム</option>
    <option>第4ターム</option>
  </select>

  <select name="曜日" required>
    <option hidden>曜日を選択</option>
    <option>月曜日</option>
    <option>火曜日</option>
    <option>水曜日</option>
    <option>木曜日</option>
    <option>金曜日</option>
  </select>

  <select name="時限" required>
    <option hidden>時限を選択</option>
    <option>1限</option>
    <option>2限</option>
    <option>3限</option>
    <option>4限</option>
    <option>5限</option>
  </select>

  <select name="号館">
    <option hidden>号館を選択</option>
    <option>本館</option>
    <option>新館</option>
    <option>南校舎</option>
    <option>特別教室</option>
    <option>1号館</option>
    <option>5号館</option>
    <option>7号館</option>
  </select>


	<input type="submit" name="submit" value="検索する" >
</form>



  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
