{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Tsuda app</title> <!--サイト名-->
  <!-- <link rel="stylesheet" href="tsuda.css"> -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/tsuda.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>T S U D A　　　A P P</h1> <!--ページタイトル-->
    </div>
  </div>
  <h1> </h1>
  <div style="text-align: center">
  <h1>ログイン画面</h1>
</div>
  <h1></h1>
  <div class="login">
  <div class="reg">
  <form method="post" action="{% url 'Login' %}">
    {% csrf_token %}

    <table class="reg_form">
      <h1></h1>
      <tr>
        <td><label for="userid">ユーザーID:</label></td>
        <td><input type="text" name="userid"></td>
      </tr>
      <tr>
        <td><label for="password">パスワード：</label></td>
        <td><input type="password" name="password"></td>
      </tr>
    </table>
    <div style="text-align: center">
      <h1></h1>
    <input type="submit" class="btn-flat-simple" value="ログイン">
  </div>
 </form>
</div>
<h3><br></h3>
   <p class="message">アカウントをお持ちですか？：
   <a href="{% url 'register' %}">アカウントを作成</a>
   </p>
 </div>
 <h1><br></h1>
  <!-- <div class="login">
    <div class="text-align: center">
        <h3>利用者ID</h3>
        <h3>パスワード</h3> -->
    <!-- </div>

    <div class="btn-flat-simple">
      <a href="{% url 'move_to_menupage' %}">ログイン</a>
    </div>
  </div> -->
  <!-- {% block content %}
  {% endblock %} -->
  <div class="page-footer">
    <footer>
      <div style="text-align: center">
        <img src=" static ../../static/img/Tsudauni.jpeg">
      </div>
    </footer>
  </div>
</body>
</html>
