{% load django_bootstrap5 %}
<!-- {% load static %} -->

<html>
<head>
  {% bootstrap_css %}
    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/eigyoujikan.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>T S U D A　　　A P P</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius">
    <a href="/menupage">MENU PAGE</a>
  </div>
  </div>

<h2>営業時間</h2>
<br><h1></h1>
<a class="btn btn-default" href="/map"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 戻る</a>
<br><h1></h1>

<ul>
  <li>学生生活課 / 教務課<br>9:00〜11:15 12:15〜16:00</li>
  <h1></h1>
  <li>食堂<br>10:00〜17:00</li>
  <h1></h1>
  <li>カフェ・ルポ<br>11:00〜13:30</li>
  <h1></h1>
  <li>うめコープ / co-umeこうめ<br><a href="https://www.univcoop.jp/tsuda/schedule/schedule_202209.html">営業時間</a></li>
  <h1></h1>
  <!-- URLの月の部分をその時の月になるようにしたい -->
  <li>図書館<br><a href="https://lib.tsuda.ac.jp/AL.aspx">営業時間</a></li>
  <h1></h1>
  <li>AVライブラリー<br><a href="https://lib.tsuda.ac.jp/AA.aspx">営業時間</a></li>
  <h1></h1>
  <li>計算センター<br>8:30〜16:30</li>
  <h1></h1>
  <li>ウェルネスセンター<br>8:30〜11:15 12:15〜16:00</li>
  <h1></h1>
  <li>各学科の事務室<br>10:00〜11:15 12:15〜15:00</li>
  <h1></h1>
  <h1></h1>
  <div class="button03">
    <a href="https://www.tsuda.ac.jp/contact.html">電話番号一覧</a>
  </div>
</ul>


<!-- <div class="button03">
  <a href="{% url 'move_to_eigyoujikan' %}">学生生活課</a>
</div>

<div class="button03">
  <a href="{% url 'move_to_eigyoujikan' %}">各施設の営業時間</a>
</div>

<div class="button03">
  <a href="{% url 'move_to_eigyoujikan' %}">各施設の営業時間</a>
</div>

<div class="button03">
  <a href="{% url 'move_to_eigyoujikan' %}">各施設の営業時間</a>
</div>

<div class="button03">
  <a href="{% url 'move_to_eigyoujikan' %}">各施設の営業時間</a>
</div> -->

<h1></h1>

  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
