{% load static %}
<html>
<head>
    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/ichigokan.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1><a href="/menupage">T S U D A　　　A P P</a></h1> <!--ページタイトル-->
    </div>
  </div>

<h2>遷移成功 1号館ページ</h2>
<!--  試しに写真を入れてみた -->
<img src="../../static/img/ichigokan.png">


  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
