{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>てtsudaっぷ。</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/jihanki.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>てtsudaっぷ。</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius">
    <a href="/menupage">MENU PAGE</a>
  </div>
  </div>

<h2>　<span class="under">自動販売機の一覧</span></h2>
<br><h1></h1>
<a class="btn btn-default" href="/map"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 戻る</a>
<br><h1></h1>

<!-- 試しに書いてみた -->
<table border='0'>
  <tr>
    <td>
      <h3>　食堂の横</h3>
      <img src="../../static/img/shokudoyoko.jpeg">
    </td>
    <td>
      <h3>　食堂の裏</h3>
      <img src="../../static/img/shokudoura.jpeg">
    </td>
  </table>
  <table border='0'>
    <td>
      <h3>　食堂の中</h3>
      <img src="../../static/img/shokudonaka.jpeg">
    </td>
    <td>
      <h3>　1号館前</h3>
      <img src="../../static/img/ichigokanyoko.jpeg">
    </td>
  </table>
  <table border='0'>
    <td>
      <h3>　5号館前</h3>
      <img src="../../static/img/gogokanmae.jpeg">
    </td>
    <td>
      <h3>　7号館前</h3>
      <img src="../../static/img/nanagokanmae.jpeg">
    </td>
  </table>
  <table border='0'>
    <td>
      <h3>　食堂裏の公衆電話</h3>
      <img src="../../static/img/koshudenwa.jpeg">
    </td>
  </table>
  <br>

<!--
<div class="button_line">
<div class="button03">
  <a href="{% url 'move_to_honkan' %}">①本館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_shinkan' %}">②新館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_minami' %}">③南校舎</a>
</div>
</div>
<h1> </h1>

<div class="button_line">
<div class="button03">
  <a href="{% url 'move_to_tokkyo' %}">④特別教室</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_ichigokan' %}">⑤1号館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_gogokan' %}">⑧5号館</a>
</div>
</div>
<h1> </h1>

<div class="button_line">

<div class="button03">
  <a href="{% url 'move_to_nanagokan' %}">⑩7号館</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_shokudo' %}">⑫食堂</a>
</div>
<div class="button03">
  <a href="{% url 'move_to_library' %}">⑲図書館</a>
</div>
</div>
<br> <br>

<div class="button_line">
<div class="button04">
  <a href="{% url 'move_to_eigyoujikan' %}">各施設の営業時間</a>
</div>
<div class="button04">
  <a href="{% url 'move_to_eigyoujikan' %}">自販機の場所</a>
</div>
</div>

<h1></h1> -->


<div class="page-footer">
  <footer>
  </footer>
</div>

</body>
</html>
