{% load static %}

<html>
<head>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>てtsudaっぷ。</title> <!--サイト名-->
  <!-- <link rel="stylesheet" href="menupage.css"> -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jikannwari_term.css' %}">
</head>
<body>
  <div class="page-header">

    <!-- {% if user.is_authenticated %}
    <a href="{% url 'monday1_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %} -->

    <div style="text-align: center">
      <h1>てtsudaっぷ。</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius">
    <a href="/menupage">MENU PAGE</a>
  </div>
  </div>

  {% if user.is_authenticated %}
  <!-- <a href="{% url 'monday1_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
  {% endif %}
  <div style="text-align: center">
  <h1>時間割</h1>
</div>
  <!--ここから-->
  <!--4つのボタン-->

<div style="display:inline-flex" class = "example">
  <form action="{% url 'monday1_list' %}" method="POST">
    {% csrf_token %}
    <input type="hidden"  name="user" value ="{{user}}">
    <!-- <div class="button_wrap"> -->
      <input type="submit" value="　T1　" class="button_wrap"/>
    <!-- </div> -->
  </form>

  <form action="{% url 'monday2_list' %}" method="POST">
    {% csrf_token %}
    <input type="hidden"  name="user" value ="{{user}}">
    <!-- <div class="button_wrap"> -->
      <input type="submit" value="　T2　" class="button_wrap"/>
    <!-- </div> -->
  </form>

  <form action="{% url 'monday3_list' %}" method="POST">
    {% csrf_token %}
    <input type="hidden"  name="user" value ="{{user}}">
    <!-- <div class="button_wrap"> -->
      <input type="submit" value="　T3　" class="button_wrap"/>
    <!-- </div> -->
  </form>

  <form action="{% url 'monday4_list' %}" method="POST">
    {% csrf_token %}
    <input type="hidden"  name="user" value ="{{user}}">
    <!-- <div class="button_wrap"> -->
      <input type="submit" value="　T4　" class="button_wrap"/>
    <!-- </div> -->
  </form>

</div>

  {% csrf_token %}

  <div class="row">
    <div class="col-md-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <br> <br> <br> <br> <br>
  <div class="page-footer">
    <footer>
    </footer>
  </div>
</body>
</html>
