{% load static %}
<html>
<head>
    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/menupage.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1><a href="/">T S U D A　　　A P P</a></h1> <!--ページタイトル-->
    </div>
  </div>

  <!-- 試しに書いてみた -->
  <div class="button03">
    <a href="{% url 'move_to_jikannwari' %}">時間割</a>
  </div>

  <!--<form action="{% url 'move_to_jikannwari' %}" method="post">
        {% csrf_token %}
        <input type="button" value="時間割" class="button03">
  </form>-->
  <h1> </h1>
  <div class="button03">
    <a href="{% url 'move_to_syllabus' %}">シラバス</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="{% url 'move_to_akikyoshitsu' %}">空き教室情報</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="{% url 'move_to_map' %}">キャンパスマップ</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="https://sites.google.com/tsuda.ac.jp/kyoumu/home/KYUKO?authuser=0">休講情報</a>
  </div>
  <h1> </h1>
  <!-- 試しに書いてみた -->

  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
