{% load static %}

<html lang="ja" dir="ltr">
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/menupage.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>T S U D A　　　A P P</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius" style="text-align: right">
    <a href="{% url 'Logout' %}">ログアウトはこちら</a>
  </div>
  </div>

  <h1>　{{ user }}さんようこそ！！</h1>

<!-- <p> ログアウトは
<a href="{% url 'Logout' %}">こちら</a>
</p> -->
<h1></h1>
  <!-- 試しに書いてみた -->
  <form action="{% url 'move_to_jikannwari' %}" method="POST">
    {% csrf_token %}
    <input type="hidden"  name="user" value ="{{user}}">
    <div class="button_wrap">
      <input type="submit" value="    時間割"/>
    </div>
  </form>
  <!-- <div class="button03">
    <a href="{% url 'move_to_jikannwari' %}">時間割</a>
  </div> -->


  <!--<form action="{% url 'move_to_jikannwari' %}" method="post">
        {% csrf_token %}
        <input type="button" value="時間割" class="button03">
  </form>-->
  <h1> </h1>
  <div class="button03">
    <a href="{% url 'move_to_syllabuskensaku' %}">シラバス検索 / コメント</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="{% url 'move_to_akikyoshitsu' %}">空き教室情報</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="{% url 'move_to_map' %}">キャンパスマップ /<br> 各施設の営業時間</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="https://sites.google.com/tsuda.ac.jp/kyoumu/home/KYUKO?authuser=0">休講情報</a>
  </div>
  <h1> </h1>
  <!-- 試しに書いてみた -->

  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
