{% load static %}
<html>
<head>
    <title>Tsuda app</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/menupage.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1><a href="/">T S U D A　　　A P P</a></h1> <!--ページタイトル-->
    </div>
  </div>

  <!-- 試しに書いてみた -->
  <div class="button03">
    <a href="">時間割</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="">混雑情報</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="">シラバス</a>
  </div>
  <h1> </h1>
  <div class="button03">
    <a href="">休講情報</a>
  </div>
  <h1> </h1>
  <!-- 試しに書いてみた -->

  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
