{% extends 'tsuda/syllabuskekka.html' %}
{% block content %}
<h4>※科目名をクリックすると、授業内容を直感的に把握できる機能(ワードクラウド)や、
    授業の感想共有機能を見ることができます！</h4>
<br>
    {% for syllabus in syllabuss %}
        <div class="post">
            <!-- <div class="date">
                {{ syllabus.published_date }}
            </div> -->

            <h2><a href="{% url 'syllabus_detail' pk=syllabus.pk %}"><span class="under1">{{ syllabus.className }}</span></a></h2>
            <br>
            <p><span style="white-space:nowrap;"><b>Course 　  ：</b>{{ syllabus.className_eng|linebreaksbr }}</span></p>
            <p><span style="white-space:nowrap;"><b>開講ターム：</b>{{ syllabus.term|linebreaksbr }}</span></p>
            <!-- <p><span style="white-space:nowrap;">{{ syllabus.day_of_week|linebreaksbr }}</span></p>
            <p><span style="white-space:nowrap;">{{ syllabus.period_of_time|linebreaksbr }}限</span></p> -->
            <p><span style="white-space:nowrap;"><b>教員名　　：</b>{{ syllabus.teacher_name|linebreaksbr }}</span></p>
            <p><span style="white-space:nowrap;"><b>開講ターム：</b>{{ syllabus.term|linebreaksbr }}</span></p>
            <p><span style="white-space:nowrap;"><b>使用言語　：</b>{{ syllabus.gengo|linebreaksbr }}</span></p>
            <p><span style="white-space:nowrap;"><b>配当年次　：</b>{{ syllabus.nenji|linebreaksbr }}</span></p>
            <p><span style="white-space:nowrap;"><b>推奨レベル：</b>{{ syllabus.level|linebreaksbr }}</span></p>
            <p><span style="white-space:nowrap;"><b>科目区分　：</b>{{ syllabus.gakka|linebreaksbr }}</span></p>
        </div>
    {% endfor %}
{% endblock %}
