{% extends 'tsuda/syllabuskekka.html' %}

{% block content %}
    <div class="post">
      <div class="btn-gradient-radius1">
        <a href="{% url 'syllabus_wordcloud' pk=syllabus.pk %}">ワードクラウド機能</a>
        <h5>シラバス内の単語の出現頻度を視覚化し、授業内容を直感的に把握できる機能</h5>
        <h2></h2>
        <form action="{% url 'syllabuscomment' %}" method="POST">
          {% csrf_token %}
          <input type="hidden"  name="className" value ="{{syllabus.className}}">
          <input type="submit" value="授業の感想共有機能" class="comment">
          <h5>授業の感想を書き込んだり、過去に授業を受講した先輩の感想を閲覧できる機能</h5>
        </form>
        <!-- <a href="/syllabus">コメント</a> -->
      </div>
      <h1><br></h1>
        <h2>{{ syllabus.className }}</h2>
        <p>T{{ syllabus.term|linebreaksbr }}</p>
        <p>{{ syllabus.day_of_week|linebreaksbr }}</p>
        <p>{{ syllabus.period_of_time|linebreaksbr }}限</p>
        <p>{{ syllabus.teacher_name|linebreaksbr }}</p>
    </div>
{% endblock %}
