{% load static %}
<html>
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>てtsudaっぷ。</title> <!--サイト名-->
    <!-- <link rel="stylesheet" href="menupage.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/syllabuswordcloud.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>てtsudaっぷ。</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius">
    <a href="/menupage">MENU PAGE</a>
  </div>
  </div>

  <h1>　<span class="under">ワードクラウド</span></h1>
  <br>
  <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 戻る</a>
  <br><br><h1></h1>

  <!-- <div class="btn-gradient-radius">
    <a href="/syllabus">コメント</a>
  </div> -->

  {% csrf_token %}

  <div class="row">
    <div class="col-md-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <br> <br> <br> <br> <br>

  <div class="page-footer">
    <footer>
    </footer>
  </div>

</body>
</html>
