{% load static %}
<html>
<head>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>てtsudaっぷ。</title> <!--サイト名-->
  <!-- <link rel="stylesheet" href="menupage.css"> -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/syllabuskensaku.css' %}">
</head>
<body>
  <div class="page-header">
    <div style="text-align: center">
      <h1>てtsudaっぷ。</h1> <!--ページタイトル-->
    </div>
    <div class="btn-gradient-radius">
      <a href="/menupage">MENU PAGE</a>
    </div>
  </div>

  <h1>　シラバス検索</h1>
  {% if user.is_authenticated %}
  <div class = "comment_marker">
    <a href="{% url 'syllabuscomment_new' %}"><span class="glyphicon glyphicon-plus"></span>　授業のリアルを教えよう！</a>
  </div>
  {% endif %}
    <h1><br><br><br></h1>
  <!-- <form method="post" action="{% url 'move_to_syllabuskekka' %}" method="get"> {% csrf_token %} -->
  <form method="post" action="{% url 'move_to_syllabuskekka' %}"> {% csrf_token %}
    <p><strong><mark>学科</mark></strong>
      <h5>英語英文学科→"英文", 国際関係学科→"国際関係",
        <h4></h4>多文化・国際協力学科→"多文化", 数学科→"数学",　
        <h4></h4>情報科学科→"情報"　と入力してください。
        <h4></h4>※共通科目の場合は"共通"　と入力してください。
      </h5>
    </p>
    <h4></h4>
    <input type="search" name="gakka" placeholder="学科名を入力">

    <h1></h1>
    <p><strong><mark>科目名</mark></strong>
      <h5>半角スペースに気をつけてください。
        <h4></h4>(例) × アルゴリズムa(演習付) → ○ アルゴリズム a (演習付)
      </h5>
    </p>
    <input type="search" name="kamoku" placeholder="科目名を入力">

    <h1></h1>
    <p><strong><mark>担当教員</mark></strong>
      <h5><strong>苗字のみ</strong>の入力をオススメします。
        <h4></h4>フルネームで入れる場合は、苗字と名前の間に　
        <h4></h4><strong>全角スペース</strong>を入れてください。
        <h4></h4>(例) × 津田梅子 → ○ 津田　梅子
        <h4></h4>(例) × 金明秀 → ○ 金 明秀
        <h4></h4>表記がアルファベットの教授を入力する場合は、
        <h4></h4><strong>半角スペース</strong>を入れてください。
        <h4></h4>(例) × AnnaCopeHartshorne → ○ Anna Cope Hartshorne
      </h5>
    </p>
    <input type="search" name="kyoin" placeholder="担当教員を入力">

    <h1></h1>
    <p><b><mark>開講ターム</mark></b>
      <h5>第1ターム→"1", 第2ターム→"2",
        <h4></h4>第3ターム→"3", 第4ターム→"4"　と<b>半角英数字</b>で入力してください。
        <h4></h4>複数のタームにまたがって開講される授業を検索したい場合は<b>数字を繋げて</b>書いてください。
        <h4></h4>(例) 第3ターム、第4タームを調べたい → 34 と入力する。
      </h5>
    </p>
    <h4></h4>
    <input type="text" name="term" placeholder="タームを入力" pattern="^[0-9]+$"> <!-- 半角数字のみ -->

<!--　　　　曜日　　　　　　　　　　-->
    <!--<h1></h1>
    <p><strong><mark>曜日</mark></strong>
      <h5>月曜日→"月", 火曜日→"火",
        <h4></h4>水曜日→"水", 木曜日→"木",
        <h4></h4>金曜日→"金", 土曜日→"土"　と入力してください。
      </h5>
    </p>
    <h4></h4>
    <input type="search" name="yobi" placeholder="曜日を入力" maxlength="1"> -->

<!--　　　　時限　　　　　　　　　　-->
    <!--<h1></h1>
    <p><strong><mark>時限</mark></strong>
      <h5>1限→"1", 2限→"2",
        <h4></h4>3限→"3", 4限→"4",
        <h4></h4>5限→"5", 6限→"6"　と<strong>半角英数字</strong>で入力してください。
      </h5>
    </p>
    <h4></h4>
    <input type="text" name="jigen" placeholder="時限を入力" pattern="^[0-9]+$"> -->




      <h1><br></h1>
      <div class="btn-gradient-radius">
        <input type="submit" name="submit" value="結果を表示" >
      </form>
    </div>

    <br> <br> <br> <br> <br>

    <div class="page-footer">
      <footer>
      </footer>
    </div>

  </body>
  </html>
