{% extends 'tsuda/syllabus.html' %}
{% block content %}
<a class="btn btn-default" href="{{request.META.HTTP_REFERER}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 戻る</a>

<div class = "comment_marker" style="text-align: right">
  <a href="{% url 'syllabuscomment_new' %}"><img src="../../static/img/comment.png"> 授業のリアルを教えよう！</a>
</div>
<h3><br><br><br><br></h3>
    {% for syllabuscomment in syllabuscomments %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <div class = "margin">
            <h2>{{ syllabuscomment.className }}</h2>
            <table>
              <td>
                <h3><span style="white-space:nowrap;">投稿者：{{ syllabuscomment.author_comment|linebreaksbr }}</span></h3>
                <h3><span style="white-space:nowrap;">教員名：{{ syllabuscomment.kyoin_name|linebreaksbr }}</span></h3>
                <h3><span style="white-space:nowrap;">受講年度：{{ syllabuscomment.juko_year|linebreaksbr }}</span></h3>
                <h3><span style="white-space:nowrap;">評価方法(テスト or レポート)：{{ syllabuscomment.get_tor_display|linebreaksbr }}</span></h3>
                <h3><span style="white-space:nowrap;">学習管理システム：{{ syllabuscomment.get_lms_display|linebreaksbr }}</span></h3>
                <h3><span style="white-space:nowrap;">課題の量(5段階)：{{ syllabuscomment.get_aa_display|linebreaksbr }}</span></h3>
                <h3><span style="white-space:nowrap;">コメント(感想)：{{ syllabuscomment.comment|linebreaksbr }}</span></h3>
              </td>
            </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
