{% extends 'tsuda/jikannwari_term.html' %}

{% block content %}
    <div class="post">
      <form action="{% url 'move_to_jikannwari' %}" method="POST">
        {% csrf_token %}
        <input type="hidden"  name="user" value ="{{t1.author_jikanwari}}">
        <input type="submit" value="◀︎戻る" class="jikanwari">
        <!-- <a class="btn btn-default" href="/jikannwari"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 戻る</a> -->
      </form>
      <div class = "margin">
      <h1>T1</h1>
      <h3>{{t1.get_dow_display}} /
      {{t1.get_pot_display}}</h3>
        <!-- {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %} -->
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 't1_edit' pk=t1.pk %}"><span class="glyphicon glyphicon-pencil"></span> 編集</a>
        {% endif %}
        <h3>{{ t1.className }}</h3>
        <p>{{ t1.class_number|linebreaksbr }}</p>
        <p>{{ t1.profName|linebreaksbr }}</p>
    </div>
    </div>
{% endblock %}
