{% extends 'tsuda/jikannwari_term.html' %}
{% block content %}

<div style="text-align: center"><h1>T4</h1></div>
<div class = "margin">
<table>
  <tr>
    <th> 時限/曜日 </th>
    <th> 月 </th> <th> 火 </th> <th> 水 </th> <th> 木 </th> <th> 金 </th>
    </tr>

  <tr>
    <th> 1限 </th>
    {% for t4 in data1 %}
    <div class="post">
      <td>
        <h2><span style="white-space:nowrap;">{{ t4.className }}</span></h2>
        <h3><span style="white-space:nowrap;">{{ t4.class_number|linebreaksbr }}</span></h3>
        <h3><span style="white-space:nowrap;">{{ t4.profName|linebreaksbr }}</span></h3>
        <p class="btn-sticky"><a href="{% url 't4_detail' pk=t4.pk %}">編集</a></p>
      </td>

    </div>
    {% endfor %}
  </tr>

  <tr>
    <th> 2限 </th>
    {% for t4 in data2 %}
    <div class="post">
      <td>
        <h2><span style="white-space:nowrap;">{{ t4.className }}</span></h2>
        <h3><span style="white-space:nowrap;">{{ t4.class_number|linebreaksbr }}</span></h3>
        <h3><span style="white-space:nowrap;">{{ t4.profName|linebreaksbr }}</span></h3>
        <p class="btn-sticky"><a href="{% url 't4_detail' pk=t4.pk %}">編集</a></p>
      </td>
    </div>
    {% endfor %}
  </tr>

  <tr>
    <th> 3限 </th>
    {% for t4 in data3 %}
    <div class="post">
      <td>
        <h2><span style="white-space:nowrap;">{{ t4.className }}</span></h2>
        <h3><span style="white-space:nowrap;">{{ t4.class_number|linebreaksbr }}</span></h3>
        <h3><span style="white-space:nowrap;">{{ t4.profName|linebreaksbr }}</span></h3>
        <p class="btn-sticky"><a href="{% url 't4_detail' pk=t4.pk %}">編集</a></p>
      </td>
    </div>
    {% endfor %}
  </tr>

  <tr>
    <th> 4限 </th>
    {% for t4 in data4 %}
    <div class="post">
      <td>
        <h2><span style="white-space:nowrap;">{{ t4.className }}</span></h2>
        <h3><span style="white-space:nowrap;">{{ t4.class_number|linebreaksbr }}</span></h3>
        <h3><span style="white-space:nowrap;">{{ t4.profName|linebreaksbr }}</span></h3>
        <p class="btn-sticky"><a href="{% url 't4_detail' pk=t4.pk %}">編集</a></p>
      </td>
    </div>
    {% endfor %}
  </tr>

  <tr>
    <th> 5限 </th>
    {% for t4 in data5 %}
    <div class="post">
      <td>
        <h2><span style="white-space:nowrap;">{{ t4.className }}</span></h2>
        <h3><span style="white-space:nowrap;">{{ t4.class_number|linebreaksbr }}</span></h3>
        <h3><span style="white-space:nowrap;">{{ t4.profName|linebreaksbr }}</span></h3>
        <p class="btn-sticky"><a href="{% url 't4_detail' pk=t4.pk %}">編集</a></p>
      </td>
    </div>
    {% endfor %}
  </tr>

  <tr>
    <th> 6限 </th>
    {% for t4 in data6 %}
    <div class="post">
      <td>
        <h2><span style="white-space:nowrap;">{{ t4.className }}</span></h2>
        <h3><span style="white-space:nowrap;">{{ t4.class_number|linebreaksbr }}</span></h3>
        <h3><span style="white-space:nowrap;">{{ t4.profName|linebreaksbr }}</span></h3>
        <p class="btn-sticky"><a href="{% url 't4_detail' pk=t4.pk %}">編集</a></p>
      </td>

    </div>
    {% endfor %}
  </tr>


</table>
</div>

{% endblock %}
